@font-face {
    font-family: "Horizon Juniauto";
    src:
        url("Horizon_Juniauto.compressed.woff2") format("woff2"),
        url("Horizon_Juniauto.compressed.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }